*{
    margin:0;
    padding:0;
    text-decoration: none;
    
    
}
.container-sidebar{
    display:flex;
    height: 200vh;
  
}
main{
    width: 100%;
    
    padding: 20px;
}
.sidebar{
    background:  linear-gradient(to bottom , white , #00a49c);;
    color: black;
    
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: black;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:#74dcd7;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: #00a49c;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}
.home-container{
    margin-top: 0vh;
    background-color: white;
    margin-right: 0;
}
