

@import url('https://fonts.googleapis.com/css2?family=Spectral&family=Spectral:ital@1&family=Courgette&family=Kanit&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.heading {
  display: flex;
  align-items: center;  
  background:  linear-gradient(to bottom , white , #00a49c);
  justify-content: space-between;
  font-family: 'Spectral';
  min-height: 8vh;
  margin-left: 0vh;
  height:16vh;
}

.navbar-menu-container3 {
  display: none;
  margin-top: 0vh;
  
  
}

.sellgadgetname{
  margin-top: 5vh;
margin-left: -30vh;
margin-bottom: -8vh;
}

.profilephoto{
  width: 7vw;
  height: 10vh;
  width: 4vw;
  border-radius: 50%;
  margin-right:3vw;

}

.photo img
{
  width: 40px;
  height: 30px;
  border-radius: 50%;

}

.navbar-links-container3 a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0vh;
  margin-left: 70px;
}
.navbar-links-container3 a:hover {
  text-decoration: underline;
}

.navbar-cart-icon {
  font-size: 1.15rem;
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4vw;
  row-gap:2rem;
}

.custom-hover-effect:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid #ccc;
}



.dropdown-menu3 {
  position: absolute;
  margin-top: -1vh; 
  right: 2vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 120px; 
  z-index: 1;
}



.dropdown-menu-sellergadget {
  position: absolute;
  margin-top: 0vh; /* Adjust the top position as needed */
  margin-right: 3vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 120px; /* Adjust the minimum width as needed */
}
